@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Manage Users";
}
<h1>@ViewData["Title"]</h1>

<div>
	<table class="table">
		<thead>
			<tr>
				<th>Username</th>
				<th>Role</th>
				<th>Active</th>
				<th>Authorization</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (ViewBag.Users != null)
			{
				@foreach (var user in (List<BusinessLayer.DTOs.UserDTO>)ViewBag.Users)
				{
					<tr>
						<td>@user.Username</td>
						<td>@user.Role</td>
						<td>@user.Active</td>
						<td>@user.AuthorizationType</td>
						<td>
							<form method="post">
								@if (user.Role != "Admin")
								{
									<input type="hidden" name="username" value="@user.Username" />
									<button type="submit" formaction="@Url.Action("RemoveUser","User", new {UserId=user.Id})" class="btn btn-danger"> <i class="bi bi-person-dash-fill"></i> Delete</button>
									@if (user.Active){
										<button type="submit" formaction="@Url.Action("DeactivateUser","User", new {UserId=user.Id})" class="btn btn-primary"> <i class="bi bi-person-x-fill"></i> Deactivate</button>
									}
									else{
										<button type="submit" formaction="@Url.Action("ActivateUser","User",  new {UserId=user.Id})" class="btn btn-primary"> <i class="bi bi-person-check-fill"></i> Activate</button>
									}
								}
							</form>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
