@{
    var lab = ViewBag.Lab as BusinessLayer.Models.EVELabModel;
    if (lab != null)
    {
        ViewData["Title"] = "Lab Info of " + lab.Name;
    }
}
<h1>@lab.Name</h1>
<hr />
<p>Lab ID: @lab.Id</p>
<p>Lab Name: @lab.Name</p>
<p>Lab Description: @lab.Description</p>
<p>Lab Path: @lab.Path</p>
<p>Lab last modified: @lab.Last_modified</p>


<form method="post">
    <button class="btn btn-primary" type="submit" formaction="@Url.Action("LabList","EVE", new {id=ViewBag.ServerID})">Back to Lab List</button>
    <button class="btn btn-primary" type="submit">Backup lab</button> @*locally or google drive*@
    <button class="btn btn-primary" type="submit" formaction="@Url.Action("DownloadLab","EVE",new{id=ViewBag.ServerID,labId=lab.Id})">Download lab</button>
    <button class="btn btn-primary" type="submit" formaction="@Url.Action("Create","Reservation",new{selectedServer=ViewBag.ServerID,labId=lab.Id})">Reserve this lab</button>
    <button class="btn btn-primary" type="submit" formaction="@Url.Action("LabNodeList","EVE",new{serverID=ViewBag.ServerID, labId=lab.Id})">Show nodes</button>
    @if (ViewBag.Owned == true) {
        <button class="btn btn-primary" disabled>Own a lab</button>
    }
    else {
        <button class="btn btn-primary" type="submit" formaction="@Url.Action("OwnLab","User",new{serverID=ViewBag.ServerID,labId=lab.Id})">Own a lab</button>
    }<br />
    @*if lab owned*@ 

    @if (ViewBag.UserOwn == true || User.IsInRole("Admin"))
    {
        <button class="btn btn-primary" type="submit" formaction="@Url.Action("StartLab","EVE",new{id=ViewBag.ServerID,labId=lab.Id})">Start this lab</button>
        <button class="btn btn-primary" type="submit" formaction="@Url.Action("StopLab","EVE",new{id=ViewBag.ServerID,labId=lab.Id})">Stop the lab</button>
    }
    @*Admin only*@
    @if (User.IsInRole("Admin"))
    {
        <button class="btn btn-danger" type="submit">Delete this lab</button>
    }
</form>