
@model ApiCisco.Model.LabModel


@{
    var serverID = ViewBag.ServerID;
    var serverName = ViewBag.ServerName as string;
    var lab = ViewBag.Lab as ApiCisco.Model.LabModel;
    if(lab!=null)
    {
        ViewData["Title"] = "Lab Info of " + lab.Name;
    }
}
<h1>@lab.Name</h1>
<hr />
<p>Lab ID: @lab.Id</p>
<p>Lab Name: @lab.Name</p>  
<p>Lab Description: @lab.Description</p>
@if(lab.State.ToLower()=="started"){
    <span>Lab state:</span>

    <span style="color: green; font-weight: bold;">@lab.State.ToLower()</span> <br />
}
else
{
    <p>Lab state: @lab.State.ToLower()</p>
}
<p>Lab Node Count: @lab.Node_count</p>
<p>Lab Link count: @lab.Link_count</p>
<p>Last modified: @lab.Last_modified</p>

<form method="post">
    <button class="btn btn-primary" type="submit" formaction="@Url.Action("LabList","CML", new {id=ViewBag.ServerID,serverName})">Back to Lab List</button> <br />

    <button class="btn btn-primary" type="submit" formaction="@Url.Action("DownloadLab","CML",new{id=ViewBag.ServerID,serverName,id_lab=lab.Id})">Download lab</button>
    <button class="btn btn-primary" type="submit" formaction="@Url.Action("Create","Reservation",new{selectedServer=ViewBag.ServerID,labId=lab.Id})">Reserve this lab</button>
    <button class="btn btn-primary" type="submit" formaction="@Url.Action("OwnLab","CML",new{id=ViewBag.ServerID,lab_id=lab.Id})">Own a lab</button><br />

    <button class="btn btn-danger" type="submit" >Delete this lab</button>
    <button class="btn btn-primary" type="submit">Edit this lab</button><br />

    <button class="btn btn-primary" type="submit" formaction="@Url.Action("StartLab","CML",new{id=ViewBag.ServerID,lab_id=lab.Id})">Start this lab</button>
    <button class="btn btn-primary" type="submit" formaction="@Url.Action("StopLab","CML",new{id=ViewBag.ServerID,lab_id=lab.Id})">Stop the lab</button> 
    
</form>