@{
    ViewData["Title"] = @ViewBag.ServerName;
}
@model ApiCisco.Model.LabModel
<h2>Server Name: @ViewBag.ServerName</h2>
 @if (ViewBag.Labs != null){
    @for (int i = 0; i < ((List<ApiCisco.Model.LabModel>)ViewBag.Labs).Count; i++)
    {
        <a href="@Url.Action("LabInfo","CML",new {id=ViewBag.ServerID, servername=ViewBag.ServerName, id_lab=ViewBag.Labs[i].Id})" class="card-link">
            <div class="col-md-3 mb-4 d-flex">
                <div class="card flex-fill">
                    <div class="card-body" sstyle="height: 175px;">
                        <h5 class="card-title">@ViewBag.Labs[i].Name</h5><hr />
                        <span>@ViewBag.Labs[i].State</span><br />
                        <span>Last modified: @ViewBag.Labs[i].Last_modified</span><br />                    
                    </div>
                </div>
		    </div>
        </a>
    }
 }

<h5>DEBUG THING Labs ID:</h5>
@for (int i = 0; i < ((object[])ViewBag.Labs2).Length; i++)
{
    <a href="@Url.Action("LabInfo","CML",new {id=ViewBag.ServerID, servername=ViewBag.ServerName, id_lab=ViewBag.Labs2[i]})"><p>@ViewBag.Labs2[i]</p> </a>
}