@{
	ViewBag.Title = "Create reservation";
}
@model BusinessLayer.Models.ReservationModel

<div>
	<h1>@ViewBag.Title</h1>
	<hr />
	<form method="post" class="p-3 border rounded" asp-action="Create">
	<label>Server:</label>
		<select id="server" name="selectedServer" asp-for="ServerId" class="form-select me-2" onchange="this.form.submit()">
		<option value="">Select server...</option>
		@for (int i = 0; i < ((List<BusinessLayer.DTOs.ServerDTO>)ViewBag.Servers).Count; i++)
		{
			<option value="@ViewBag.Servers[i].Id">@ViewBag.Servers[i].Name</option>
		})
	</select>
	<label>Lab:</label>
	<select id="lab" name="labId" asp-for="LabId" class="form-select me-2" >
			<option value="">Select lab...</option>
			@if (ViewBag.Labs3 != null){
				var labs = (List<BusinessLayer.Models.LabModel>)ViewBag.Labs3;
				foreach (var lab in labs)
				{
					@if (Model.LabId == lab.Id)
					{
						<option value="@lab.Id" selected>@lab.Name</option>
					}
					else
					{
						<option value="@lab.Id">@lab.Name</option>
					}
				}

			}
	</select>
	<label>From:</label>
	<input type="datetime-local" id="date" asp-for="ReservationStart" class="form-control" value="" />	
	<label>To:</label>
	<input type="datetime-local" id="timeTo" asp-for="ReservationEnd" class="form-control" value=""/>
	<br />
	<button class="btn btn-primary" formaction="@Url.Action("MakeReservation","Reservation")">Make reservation</button>
	</form>
</div>
