@{
	ViewBag.Title = "Reservations";
}
<h1>@ViewBag.Title</h1>
<form>
	<button class="btn btn-primary" formaction="@Url.Action("Create","Reservation")">Create new reservation</button>
	<button class="btn btn-primary" formaction="@Url.Action("UserReservation","Reservation")">My reservations</button>
</form>
<hr />
<!--Show other planned reservation with time, user and wwhich server and lab-->
<div>
	<h3>Planned reservations</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Server</th>
				<th>Lab</th>
				<th>From</th>
				<th>To</th>
				<th>User</th>				
			</tr>
		</thead>
		<tbody>
			@if(ViewBag.Reservations!=null){
				@for (int i = 0; i < ((List<ReservationInformationModel>)ViewBag.Reservations).Count; i++)
				{
					<tr>
						<td>@ViewBag.Reservations[i].ServerName - @ViewBag.Reservations[i].ServerType </td>
						<td>@ViewBag.Reservations[i].LabId</td>
						<td>@ViewBag.Reservations[i].ReservationStart</td>
						<td>@ViewBag.Reservations[i].ReservationEnd</td>
						<td>@ViewBag.Reservations[i].UserName</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>