@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "My reservations";

	var reservations = ((List<ReservationInformationModel>)ViewBag.PlannedReservations);
	var expired = ((List<ReservationInformationModel>)ViewBag.ExpiredReservations);
}
<h1>@ViewData["Title"]</h1>
<hr />
<div>
	<h3>Planned reservations</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Server</th>
				<th>Lab</th>
				<th>From</th>
				<th>To</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (reservations != null && reservations.Count>0)
			{
				@for (int i = 0; i < reservations.Count; i++)
				{
					<tr>
						<td>@reservations[i].ServerName - @reservations[i].ServerType </td>
						<td>@reservations[i].LabId</td>
						<td>@reservations[i].ReservationStart</td>
						<td>@reservations[i].ReservationEnd</td>
						<td><form method="post"><button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete a reservation? This operation is pernament!')"  formaction="@Url.Action("DeleteReservation","Reservation" , new {reservationId=@ViewBag.PlannedReservations[i].Id})"> <i class="bi bi-trash"></i> </button></form></td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="5" rowspan="5" class="text-center text-muted">No reservations available</td>
				</tr>
			}
		</tbody>
	</table>
	<h3>Expired reservations</h3>
	<p>Expired reservations are deleted automatically after 6 months</p>
	<table class="table">
		<thead>
			<tr>
				<th>Server</th>
				<th>Lab</th>
				<th>From</th>
				<th>To</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (expired != null && expired.Count>0)
			{
				@for (int i = 0; i < expired.Count; i++)
				{
					<tr>
						<td>@expired[i].ServerName - @expired[i].ServerType </td>
						<td>@expired[i].LabId</td>
						<td>@expired[i].ReservationStart</td>
						<td>@expired[i].ReservationEnd</td>
						<td><form method="post"><button class="btn btn-danger" formaction="@Url.Action("DeleteReservation","Reservation" , new {reservationId=@ViewBag.ExpiredReservations[i].Id})"> <i class="bi bi-trash"></i> </button></form></td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="5" rowspan="5" class="text-center text-muted">No reservations available</td>
				</tr>
			}
		</tbody>
	</table>
</div>
