@{
	var plannedReservations = (List<ReservationInformationModel>)ViewBag.PlannedReservations;
}
<div id="list-view">
	<h3>Planned reservations</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Server</th>
				<th>Lab</th>
				<th>From</th>
				<th>To</th>
				<th>User</th>
				<th>Export</th>
			</tr>
		</thead>
		<tbody>
			@if (plannedReservations != null)
			{
				@foreach (var reservation in plannedReservations)
				{
					<tr>
						<td>@reservation.ServerName - @reservation.ServerType </td>
						<td>@reservation.LabId</td>
						<td>@reservation.ReservationStart</td>
						<td>@reservation.ReservationEnd</td>
						<td>@reservation.UserName</td>
						<td>
							<form method="post" action="@Url.Action("SaveEvent", "Reservation", new { reservationId = reservation.Id })">
								<button type="submit" class="btn btn-primary"><i class="bi bi-floppy"></i></button>
							</form>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
